[submodule "components/esp32_AS7262"]
	path = components/esp32_AS7262
	url = https://github.com/co-env/esp32_AS7262.git
[submodule "components/esp32_SGP30"]
	path = components/esp32_SGP30
	url = https://github.com/co-env/esp32_SGP30.git
[submodule "components/BME280"]
	path = components/BME280
	url = https://github.com/co-env/BME280
[submodule "components/Microfone"]
	path = components/Microfone
	url = https://github.com/co-env/Microfone
[submodule "components/tarablessd1306"]
	path = components/tarablessd1306
	url = https://github.com/TaraHoleInIt/tarablessd1306
[submodule "components/ble-mesh-model"]
	path = components/ble-mesh-model
	url = https://github.com/co-env/ble-mesh-custom-sensor-model.git
