[submodule "components/esp32_AS7262"]
	path = components/esp32_AS7262
	url = https://github.com/co-env/esp32_AS7262.git
[submodule "components/esp32_SGP30"]
	path = components/esp32_SGP30
	url = https://github.com/co-env/esp32_SGP30.git
