menu "Main Firmware Configuration"

    config DEVICE_ID
        string "Device ID"
        default "esp_1"
        help
            Unique device identifier that will be sent to the dashboard


    menu "MQTT Connection Parameters"
        config BROKER_URL
            string "Broker URL"
            default "mqtt://mqtt.eclipse.org"
            help
                URL of the broker to connect to

        config BROKER_USERNAME
            string "Broker Username"
            default "mqtt"
            help
                Username used to connect to MQTT broker

        config BROKER_PASSWORD
            string "Broker Password"
            default ""
            help
                Password used to connect to MQTT broker
    endmenu

endmenu
